/* Set the background image for the body */
body {
    /* background-image: url("https://example.com/background-image.jpg"); */
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #000;
    font-family: 'Raleway', sans-serif;;

}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Set the styles for the container and countdown elements */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

#countdown {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    z-index: 3;
    color: whitesmoke;
    

}
#birth{
    color: whitesmoke;
    z-index: 3;

}

/* Set the styles for the fireworks element */



/* Set the styles for the fireworks element */

